@import "bootstrap/scss/functions";

$body-bg: #f4fafa;
$body-bg-subtle: #161d1d;
$primary: #0d696d;

$body-bg-dark: #0e1415;
$body-bg-subtle-dark: #eff5f5;
$primary-dark: #83d4d9;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/mixins";

@import "bootstrap/scss/bootstrap";
